<div class="chatbox-container">
    <!-- Header -->
    <div class="chat-header d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <strong>WEB FOOD 4TL</strong>
        </div>
        <button class="btn btn-sm text-white">&vellip;</button>
    </div>

    <!-- Chat Body -->
    <div class="chat-body" id="chatBody">
        <div class="chat-message">
            <div class="chat-bubble">
                Xin chào! WEB FOOD 4TL HÂN HẠNH PHỤC VỤ BẠN.
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="chat-footer">
        <input type="text" id="messageInput" placeholder="Nhập tin nhắn...">
        <button onclick="sendMessage()"><i class="bi bi-send-fill"></i></button>
    </div>
</div>


<link href="~/css/chatcustomer.css" rel="stylesheet" />
<script src="~/js/chatcustomer.js"></script>


