<div class="container d-flex justify-content-center align-items-center flex-column pt-4" style="height: 400px">
    <h1 class="text-primary text-center text-danger">Bạn chưa có quyền đăng nhập vào trang Admin!</h1>
</div>