<div class="container d-flex justify-content-center align-items-center flex-column pt-4">
    <h1 class="text-primary text-center text-danger">Đặt món ăn thất bại!</h1>
    <img src="~/img/shipper2.webp" width="35%" />
</div>