
<div class="main" id="content">
    <nav class="navbar navbar-expand px-4 py-3">
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav justify-content-between" style="width: 1380px;">
                <li>
                    <h2 style="font-weight: bolder;">Thông tin khách hàng</h2>
                </li>
                <li class="ms-3 dropdown">
                    <button class="btn btn-secondary text-light dropdown-toggle d-none d-lg-block" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user-circle"></i> @Context.Session.GetString("UserName")
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item text-danger" href="/Customer/Account/Logout">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <main class="content px-3 py-3">
        <div class="container-fluid">
            <div>
                <div class="row justify-content-between mx-1 mb-4">
                    <div class="input-group d-flex align-items-center border border-dark rounded"
                         style="width: 300px;padding: 0;">
                        <i class="fa-solid fa-magnifying-glass fa-1x ms-2 "></i>
                        <input type="text" class="form-control input-border" id="timKiemKhachHang" placeholder="Thông tin khách hàng"
                               aria-label="Username" aria-describedby="basic-addon1" style="border: 0;">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <table class="table">
                            <thead style="background: #0e2238;">
                                <tr>
                                    <th class="col-1" scope="col">STT</th>
                                    <th class="col-2" scope="col">Tên khách hàng</th>
                                    <th class="col-2" scope="col">Email</th>
                                    <th class="col-2" scope="col">Số điện thoại</th>
                                    <th class="col-2" scope="col">Ngày thanh toán</th>
                                    <th class="col-2 text-center" scope="col">Tổng tiền</th>
                                    <th class="col-1" scope="col"></th>

                                </tr>
                            </thead>
                            <tbody id="bodyThongTinKhachHang">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Modal Đơn hàng -->
    <div class="modal fade" id="modalKH">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="border-radius:10px">
                <div class="modal-body">
                    <div class="text-end">
                        <button type="button" class="btn-close" onclick="modalDonHang()"></button>
                    </div>
                    <div class="text-center">
                        <h5 class="modal-title fw-bold mb-2 fs-3">Đơn hàng</h5>
                    </div>
                    <hr class="m-0">
                    <div id="donHangContent" class="scroll-content"></div> <!-- Đổ dữ liệu vào đây -->
                    <hr class="m-0">
                    <div class="d-flex justify-content-end mt-3 flex-column flex-md-row">
                        <span class="f fw-bold me-2 text-center text-md-start"> Tổng thanh toán: </span>
                        <span class="f text-warning text-center text-md-start" id="tongThanhToan">0 VND</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
